<div class="ajax" id="cargoBuyForm">
	<h4>Prodat zboží</h4>
	
	@foreach (var cargoToSell in ViewBag.cargosToSell)
	{

		var traderCargo = cargoToSell.traderCargo;
		var cargo = cargoToSell.shipCargo;
		<strong>@cargo.Cargo.Name</strong>
		<span>@cargo.Cargo.Type</span>
		<p>@cargo.Cargo.Description</p>
	<span>Nakoupeno za: @cargo.CargoPrice</span>
	<span>Prodejní cena: @traderCargo.CargoPrice</span>
	<span>Velikost: @cargo.Cargo.Volume</span>
		<span>K dispozici: @cargo.CargoCount</span>

		using (Html.BeginForm("Sell", "Cargo", new { shipId = ViewBag.ship.SpaceShipId, baseId = ViewBag.trader.BaseId, cargoId = cargo.SpaceShipCargoId }, FormMethod.Post, null))
		{
			<input type="number" name="Amount" min="0" max="@cargo.CargoCount" value="@cargo.CargoCount" />
			<input type="submit" value="Prodat" />
		
		}
	}
</div>
<script>
	$('#cargoBuyForm').on('successSend', function () {
		$('.refreshButton').click();
	});
</script>