@model SpaceTraffic.GameUi.Models.ChangePasswordModel

@{
    ViewBag.Title = "Změna hesla";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="ajax" data-related-element-id="tabsContent">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="settings_form">
            <section>
                <h1>Změna hesla</h1>
                <p>
                    @Html.PasswordFor(m => m.OldPassword, new { required = "", placeholder = "Původní heslo", maxlength = "100", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </p>
                <p>
                    @Html.PasswordFor(m => m.NewPassword, new { required = "", placeholder = "Nové heslo", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </p>
                <p>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { required = "", placeholder = "Potvrdit nové heslo", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </p>
                @Html.ValidationSummary(true)
            </section>
            <p class="clear">
                <a href="@Url.Action("Settings", "Profile", new { Area = "Game" })" class="ajax cancel" data-related-element-id="tabsContent">Zrušit</a>
                <input type="submit" value="Změnit heslo" class="ok"/>
            </p>
        </div>
    }
</div>