@model SpaceTraffic.GameUi.Models.LostPasswordModel
@{
    ViewBag.Title = "Zapomenuté heslo";
}

<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form">
            <h1>Zapomenuté heslo</h1>
            <p>
                @Html.TextBoxFor(m => m.UserName, new { required = "", placeholder = "Jméno", autofocus = "" })
                @Html.ValidationMessageFor(m => m.UserName)
            </p>
            <p>
                @Html.TextBoxFor(m => m.Email, new { required = "", placeholder = "E-mail", type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </p>
            <p class="clear">
                <a href="@Url.Action("LogOn", "Account")" class="button cancel">Zrušit</a>
                <input type="submit" value="Odeslat" class="button ok" />
            </p>
        </div>
    }     
</div>
