@model SpaceTraffic.GameUi.Models.RegisterModel

@{
    ViewBag.Title = "Registerace";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">$.validator.unobtrusive.adapters.addBool("boolrequired", "required"); jQuery.extend(jQuery.validator.messages, { email: "Zadejte validní email." });</script>

<div class="form-wrapper">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form">
        <h1>Registrace</h1>
        <p>
            @Html.TextBoxFor(m => m.UserName, new { required = "", placeholder = "Jméno", maxlength = "50", autofocus = "" })
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
        <p>
            @Html.TextBoxFor(m => m.Email, new { required = "", placeholder = "E-mail", type = "email", maxlength = "100" })
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <p>
            @Html.PasswordFor(m => m.Password, new { required = "", placeholder = "Heslo", maxlength = "100" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            @Html.PasswordFor(m => m.ConfirmPassword, new { required = "", placeholder = "Potvrdit heslo", maxlength = "100" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </p>
        <p>
            @Html.CheckBoxFor(m => m.Rules, new { required = ""})
            <label for="Rules">Souhlasím s <a href="#rulesmodal" class="rules" data-tog="modal">podmínkami</a></label>
            @Html.ValidationMessageFor(m => m.Rules)
        </p>
        @Html.ValidationSummary(true)        
        <p class="clear">
            <a href="@Url.Action("LogOn", "Account")" class="button cancel">Zrušit</a>
            <input type="submit" value="Registrovat" class="button ok" />
        </p>
    </div>
}
</div>
<div id="rulesmodal" class="modal">
    <a href="#" class="close">×</a>
    <div class="modal-content">
        <div class="modal-header">
            <h2>Pravidla a podmínky</h2>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>          
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>       
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
            <p>Lorem ipsum dolor sit amet consectetuer ut laoreet at ligula sagittis. Nunc arcu metus tellus sem hac in cursus tellus interdum lacus. Justo est est congue tristique In Aenean aliquet nulla orci Vestibulum. A neque sociis massa Aenean consequat tincidunt nibh adipiscing at Sed. Nulla metus mollis wisi arcu molestie vel vitae Nam interdum vel. Id tempus.</p>
            <p>Tincidunt et eu nascetur lacinia id diam at nibh elit Morbi. Euismod nec elit In consequat habitasse morbi habitant enim Aenean iaculis. Nunc elit fringilla odio ac molestie nec Sed morbi tincidunt nunc. Interdum sed urna nibh ut Lorem enim nec nunc Curabitur Aliquam. Dolor convallis faucibus nibh lorem vitae eu amet malesuada mus libero. Scelerisque.</p>
        </div>
    </div>
</div>

<script src="@Url.Content("~/JS/util/Modal.js")"></script>
