
@{
   
}
<div id="planningUI" class="relative">
	<p id="aboutShipPlan">
		@ViewBag.ship.Base.BaseName
	</p>
	<p id="shipPlan">
		Klikněte na planetu, kam chcete letět.
	</p>

	<button id="runPlan">Start!</button>
	<button id="cancelPlan">Zrušit</button>
	
</div>
<script>
	var currentPlanetName = '@ViewBag.ship.Base.PlanetName';
	var currentShipStarSystem = '@ViewBag.ship.CurrentStarSystem';
	var currShipId = @ViewBag.ship.SpaceShipId;
</script>
@Content.Script("../JS/game/UIPlanner.js", Url)

