@model SpaceTraffic.GameUi.Areas.Game.Models.ProfileSettingsModel

@{
    ViewBag.Title = "_Settings";
}

<div class="ajax" data-related-element-id="tabsContent">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="settings_form">
            <section>
                <h1>Účet</h1>
                @Html.LabelFor(m => m.Email) @Html.Encode(@Model.Email)<br>
                @Html.LabelFor(m => m.RememberMe) @Html.CheckBoxFor(m => m.RememberMe)<br>
                <hr />
                <a href="@Url.Action("ChangePassword", "Account", new { Area = String.Empty })" class="ajax" data-related-element-id="tabsContent">Změnit heslo</a><br>
                <a href="@Url.Action("DeleteAccount", "Account", new { Area = String.Empty })" id="deleteAccount" class="ajax" data-related-element-id="tabsContent">Zrušit účet</a><br>
            </section>
            <section>
                <h1>E-mail</h1>
                @Html.LabelFor(m => m.SendGameInfo) @Html.CheckBoxFor(m => m.SendGameInfo)<br>
                @Html.LabelFor(m => m.SendNews) @Html.CheckBoxFor(m => m.SendNews)<br>
            </section>
            <input type="submit" value="Uložit" />
        </div>
    }
</div>

