<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Space Traffic - Space trading multiplayer browser game." />
    <meta name="author" xml:lang="cs" content="Space Traffic Team" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <title>@(@ViewBag.GameInfo != null ? @ViewBag.GameInfo.Name : "")</title>

    <link href='https://fonts.googleapis.com/css?family=Exo:400,800|Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/Game.less")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>

</head>
<body>
    @Content.Script("jquery-2.2.2.min.js", Url)
    @Content.Script("jquery-ui-1.11.4.min.js", Url)
    @Content.JSImport("~/JS/minigame/spaceshipCargoFinderImport", Url)

    @if (ViewBag.Error != null)
    {
        <script type="text/javascript">
            alert($("<div/>").html('@ViewBag.Error.Message').text());
            window.close();
        </script>
    }
    else
    {
        <h1 style="text-align: center;">@ViewBag.GameInfo.Name</h1>
        <div style="margin: auto; width: @(ViewBag.GameInfo.Width)px;">
            <div style="float: right;">Score: <span id="score">0</span></div>
            <canvas width="@ViewBag.GameInfo.Width" height="@ViewBag.GameInfo.Height" />
        </div>
        <div id="startDialog" style="display:none;"></div>
        <div id="gameDialog" style="display:none;"></div>
        <div id="pauseDialog" style="display:none;">Hra byla pozastavena.</div>
        
        <script type="text/javascript">
            //method for centering and resizing window
            function resizeAndCenterWindow(height, width){
                var x = screen.width/2 - width/2;
                var y = screen.height/2 - height/2;
                window.moveTo(x,y);

                window.resizeTo(width, height);
            }

            $(document).ready(function () {
                //bind synchronize ajax call for end game on before unload event
                //this is because Firefox and IE cannot send asynchronous message through ajax message system
                //in this event
                $(window).bind("beforeunload", function() {
                    $.ajax({
                        url: "/Minigame/SpaceshipCargoFinder/EndGame?minigameId=@ViewBag.GameInfo.ID",
                        type: "get",
                        data:{},
                        async:false,
                        success:function(){
                            console.log('Game was closed.');
                        }//success
                    });
                });

                resizeAndCenterWindow(@(ViewBag.GameInfo.Height+150), @(ViewBag.GameInfo.Width+50));

                var canvas = $("canvas")[0];

                //initialing game
                var game = new Game(canvas, @ViewBag.GameInfo.ID, '@ViewBag.GameInfo.Name', $('#pauseDialog'));
                game.init(@ViewBag.GameInfo.CellSize, @ViewBag.GameInfo.SnakeLenght);

                //create and show start dialog
                var startDialog = new StartGameDialog($('#startDialog'), game.start, @ViewBag.GameInfo.ID,
                    '@ViewBag.GameInfo.Name', '@ViewBag.StartDescription');

                startDialog.showDialog();
            });

        </script>
	}
    
</body>
</html>