@{
    //ViewBag.Title = "Galaxy Map";

    SpaceTraffic.GameUi.GameServerClient.IGameServerClient GSClient = SpaceTraffic.GameUi.GameServerClient.GameServerClientFactory.GetClientInstance();
    IList<SpaceTraffic.Game.StarSystem> starSystems = GSClient.GameService.GetGalaxyMap("GalaxyMap");

    int scale = 1;
    string destination = "Solar System";
}
<div id="galaxyMapContainer">
	<h2>Mapa galaxie</h2> 
	<script type="text/javascript">
		 changeSystem: function changeSystem(evt) {

		 $.getScript("../JS/map/StarSystemLoader.js", function () {
			 //console.debug("event");
			 //console.debug("this", this);
			 var target = evt.target;
			 var id = target.id;
			 StarSystemLoader.switchToStarSystem(id);
		 });
		 }

	</script>
	<div class="background border">


	<svg width="100%" height="500" id="starSystemMap" 
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
		<radialGradient id="starSystemGradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
			<stop offset="0%" class="gradientFrom" />
			<stop offset="100%" class="gradientTo" />
		</radialGradient>
		</defs>
  
	@foreach(SpaceTraffic.Game.StarSystem starSystem in starSystems)
	{
		var X = starSystem.MapPosition.X * scale;
		var Y = starSystem.MapPosition.Y * scale;
       
		foreach (SpaceTraffic.Game.WormholeEndpoint endpoint in starSystem.WormholeEndpointsList)
		{
			if (endpoint.Destination == null)
			{
				continue;
			}
			destination = endpoint.Destination.StarSystem.Name;
			var X2 = endpoint.Destination.StarSystem.MapPosition.X * scale;
			var Y2 = endpoint.Destination.StarSystem.MapPosition.Y * scale;
		   <line x1="@X" y1="@Y" x2="@X2" y2="@Y2" class="connectionLine" />
		}
	}    

	@foreach (SpaceTraffic.Game.StarSystem starSystem in starSystems)
	{
    
		var X = starSystem.MapPosition.X * scale;
		var Y = starSystem.MapPosition.Y * scale;
    
		<circle id="@starSystem.Name" cx="@X" cy="@Y" r="20" class="starSystem" style="fill:url('#starSystemGradient');" onclick="changeSystem(evt)">
		</circle>
	}

	<!-- kazdy foreach zvlast kvuli tomu ze SVG nema layering, text musi byt nad starsystemy, a starsystemy nad carami-->
	@foreach (SpaceTraffic.Game.StarSystem starSystem in starSystems)
	{
		var length = starSystem.Name.Length;
		var X = starSystem.MapPosition.X * scale - length * 6 / 2;
		var Y = starSystem.MapPosition.Y * scale + 35;
    
		<text>
		<text x="@X" y="@Y" class="starSystemTitle" >@starSystem.Name</text>
		</text>
	}

	</svg>
	</div>
</div>
