
@{
	var ship = ViewBag.ship;
	Random rand = new Random();
	int index = ViewBag.index + rand.Next();

	var fuelClass = "";
	var damageClass = "";

	double fuelRatio = ship.CurrentFuelTank / ship.FuelTank;

	if (fuelRatio > 0.75)
	{
		fuelClass = "good";
	}
	else if (fuelRatio < 0.25)
	{
		fuelClass = "bad";
	}

	if (ship.DamagePercent < 25)
	{
		damageClass = "good";
	} else if (fuelRatio > 75)
	{
		damageClass = "bad";
	}

	var location = (ship.IsFlying || ship.Base == null)? "vesmír" : @ship.Base.BaseName;
}

	<div class="shipCard detailedInfo">

		<div type="image/svg+xml" id="shipImage-@index" class="ship shipImage @ship.CssClass"></div>
		<script>
			$('#shipImage-@index').load('@Url.Content("~/Content/images/Ships/" + @ship.Image)');
		</script>

		<div class="info mainInfo">
			<h2 class="shipName">@ship.SpaceShipName</h2>
			<p class="statusInfo">@ship.StateText</p>
			<h5 class="shipModel">@ship.SpaceShipModel</h5>
		</div>
		<p class="baseInfo">@location</p>
		<div class="info fuelInfo @fuelClass">Palivo: @ship.CurrentFuelTank/@ship.FuelTank</div>
		<div class="info damageInfo @damageClass">Poškození: @ship.DamagePercent %</div>

		<div class="info fuelInfo">
			<span class="label">Spotřeba</span><span class="value">@ship.Consumption</span>
		</div>
		<div class="info cargoInfo">
			<span class="label">Náklad</span><span class="value">@ship.CurrentCargoSize/@ship.CargoSpace</span>
		</div>
		<div class="info speedInfo">
			<span class="label">Maximální rychlost</span><span class="value">@ship.MaxSpeed</span>
			<span class="label">Rychlost opotřebování</span><span class="value">@ship.WearRate</span>
		</div>
		<div style="clear: both;"></div>
		
	</div>