@{
	ViewBag.Title = "_BuyShip";
}
<table rules="groups" class="itemtable shipsview" frame="box">
	<thead>
		<tr>
			<th style="width: 280px;"> Loď </th>
			<th style="width: 180px;"> Parametry </th>
			<th style="width: 110px;"> Kapacita nákladového prostoru </th>
			<th style="width: 100px;"> Kapacita nádrže </th>
			<th style="width: 100px;"> Cena </th>
			<th> &nbsp; </th>
		</tr>
	</thead>
	<tbody>
@{
	int i = 0;
	foreach (var ship in @ViewBag.Ships)
	{
		i++;
		<tr class="tline">
			<td>
				<div type="image/svg+xml" style="float:left; height:80px;" id="shipImage-@i" class="shipImage @ship.CssClass"></div>
				<script>$('#shipImage-@i').load('@Url.Content("~/Content/images/Ships/" + @ship.Image)');</script>
				<span>
					@ship.Model
				</span>
				@ship.Manufacturer
			</td>
			<td style="text-align: left; width: 170px;">
				Spotřeba: @ship.Consumption u/ly <br />
				Síla: @ship.Power MW <br />
			</td>
			<td style="vertical-align: middle; line-height: 80px;">
				@ship.CarryingCapacity u
			</td>
			<td>
				@ship.FuelCapacity u
			</td>
			<td>
				@ship.Price C
			</td>
			<td colspan="2">
				@ship.Description
			</td>
			<td>
				<a href="@Url.Action("BuyModel", "Ships", new { baseId = ViewBag.baseId, starSystemName = ViewBag.starSystemName, model = ship.Model })" class="ajax" onclick="ViewportManager.closeMainPanel()">Koupit</a>
			</td>
		</tr>
	}
}
		
	</tbody>
</table>
<ul class="listbar">
	<li>
		<button>
			Clear selection</button></li>
</ul>
<ul class="listbar">
	<li>
		<button>
			Details</button></li>
	<li>
		<button>
			Buy</button></li>
</ul>
