@{
	ViewBag.Title = "_ShipList";
}

<h2>Mé lodě</h2>

	@{
	foreach (var ship in @ViewBag.Ships)
	{
		<a href="@Url.Action("ShipDetail", "Bases", new { shipId = @ship.SpaceShipId })" class="ajax" data-related-element-id="contextPanelContent">
			<div>@ship.SpaceShipName<br />@ship.SpaceShipModel</div>
		</a>
		}
	}
