<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>@ViewBag.Title</title>
    <meta name="description" content="Space Traffic - Space trading multiplayer browser game." />


	<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
	
	<!--jinak mi nešlo nalinkovat CSSko-->
	<link href="@Url.Content("~/Content/less/Account.less")" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Exo:400,700,800|Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


	@RenderSection("LinkStyles", false)
	<style type="text/css">
	@RenderSection("Styles", false)
	</style>
</head>

<body>
    <h1 id="layout-title">Space Traffic</h1>
	@Html.Partial("_Flash")
    @RenderBody()
	@Content.Script("jquery-2.2.2.min.js", Url)
	@Content.Script("jquery-migrate-1.4.0.min.js", Url)
	@Content.Script("jquery.unobtrusive-ajax.js", Url)
	@Content.Script("jquery-ui-1.11.4.min.js", Url)
	@Content.Script("jquery.svg-1.5.min.js", Url)
	@Content.Script("jquery.svgdom-1.5.min.js", Url)
	@Content.Script("jquery.cookie.js", Url)
	@Content.Script("mootools-core-1.4.1.js", Url)


	@Content.Script("jquery.tools.min-tips.js", Url)
	@Content.Script("register-tooltips.js", Url)

	@Content.Script("jquery.flash-message.js", Url)

	@Content.JSImport("~/JS/layoutImport", Url)

	
	
	@*@Content.Script("ui/GameWindowTabs.js", Url)
	@Content.Script("steg2d/StarSystemObjects.js", Url)
	@Content.Script("steg2d/StarSystemLoader.js", Url)
	@Content.Script("steg2d/SvgStarSystemMap.js", Url)*@
	@*Content.Script("steg2d/Renderer.js", Url)*@

	
	@RenderSection("Scripts", false)
</body>
</html>
